html
  head
    title="Poll"
  body
    h1 Welcome to the results page
    h2= poll.question
    h3= poll.choices[0]
    h4= poll.results[0]
    br
    h3= poll.choices[1]
    h4= poll.results[1]
    br
    h3= poll.choices[2]
    h4= poll.results[2]
    br
    h3= poll.choices[3]
    h4= poll.results[3]
